.footer_container
{
    width: 100%;
    text-align: center;
    border: 1px solid black;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.footer_container h1
{
    font-size: 45px;
    font-family: var(--inter);
    margin-bottom: 20px;
}

.scoialMedia_Container
{
    display: flex;
    gap: 30px;
    justify-content: center;
}

.scoialMedia_Container a
{
    text-decoration: none;
    font-size: 25px;
}