.TestimonialContainer {
  display: flex;
    flex-direction: row;
    background-color: var(--second-bg-color);
}

.TestimonialFormContainer {
  width: 100%;
    border-radius: 10px;
    margin: 50px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    display: flex;
    flex-direction: row;
}


.Testimonial_form
{
    padding: 20px;
    border-right: 1px solid var(--second-bg-color) ;
}

.Testimonial_form h1{
    font-family: var(--inter);
    font-size: 25px;
    padding: 10px 0px ;
}

.Testimonial_form button
{
    width: 200px;
    padding: 12px 25px ;
    font-size: 17px;
    font-family: var(--inter);
    border-radius: 20px;
    font-size: bold;
    background-color: white;
    border: 1px solid var(--second-bg-color);
}

.Testimonial_form button:hover
{
    background-color: var(--bg-color);
    color: white;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
